<template>
    <div>
        <div class="flex flex-row-reverse overflow-x-auto border-b border-gray-200 dark:border-gray-700">
            <div v-for="(doaku,id) in datasurah" :key="id" class=" ">
                <button @click="getayat(doaku.nomor)"
                    class="flex items-center h-10 px-2 py-2 -mb-px text-center text-blue-600 bg-transparent border-b-2 border-blue-500 sm:px-4 -px-1 dark:border-blue-400 dark:text-blue-300 whitespace-nowrap focus:outline-none">
                    {{ doaku.nama }}
                    {{ doaku.type }}
                </button>
            </div>
        </div>
        <div class=" my-10 shadow rounded-md flex justify-end" v-for="(doaAyat,id) in dataAyat " :key="id">
            <p v class="p-10  flex-wrap">
                <span> {{ doaAyat.ar }}</span>
                <br>
                <span>{{ doaAyat.id }}</span>
                <br>
                <span v-html="doaAyat.tr"> </span>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            datasurah:[],
            dataAyat: null,
            showCard: true
        }
    },
    mounted() {
        this.getSurah() 
        // this.asyncData()
    },
    methods: {
        async getayat(id) {
            const dataAyat = await this.$axios.$get('https://al-quran-8d642.firebaseio.com/surat/'+ id +'.json?print=pretty')
            this.dataAyat = dataAyat
        },
        async getSurah () {
            const datasurah = await this.$axios.$get('https://al-quran-8d642.firebaseio.com/data.json?print=pretty')
            this.datasurah = datasurah
        }
    }

}
</script>

<style>

</style>